.reset-eesc {
	animation:none;
	animation-delay:0;
	animation-direction:normal;
	animation-duration:0;
	animation-fill-mode:none;
	animation-iteration-count:1;
	animation-name:none;
	animation-play-state:running;
	animation-timing-function:ease;
	backface-visibility:visible;
	background:0;
	background-attachment:scroll;
	background-clip:border-box;
	background-color:transparent;
	background-image:none;
	background-origin:padding-box;
	background-position:0 0;
	background-position-x:0;
	background-position-y:0;
	background-repeat:repeat;
	background-size:auto auto;
	border:0;
	border-style:none;
	border-width:medium;
	border-color:inherit;
	border-bottom:0;
	border-bottom-color:inherit;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-bottom-style:none;
	border-bottom-width:medium;
	border-collapse:separate;
	border-image:none;
	border-left:0;
	border-left-color:inherit;
	border-left-style:none;
	border-left-width:medium;
	border-radius:0;
	border-right:0;
	border-right-color:inherit;
	border-right-style:none;
	border-right-width:medium;
	border-spacing:0;
	border-top:0;
	border-top-color:inherit;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-top-style:none;
	border-top-width:medium;
	bottom:auto;
	box-shadow:none;
	box-sizing:content-box;
	caption-side:top;
	clear:none;
	clip:auto;
	color:inherit;
	columns:auto;
	column-count:auto;
	column-fill:balance;
	column-gap:normal;
	column-rule:medium none currentColor;
	column-rule-color:currentColor;
	column-rule-style:none;
	column-rule-width:none;
	column-span:1;
	column-width:auto;
	content:normal;
	counter-increment:none;
	counter-reset:none;
	cursor:auto;
	direction:ltr;
	display:inline;
	empty-cells:show;
	float:none;
	font:400;
	font-family:inherit;
	font-size:medium;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	height:auto;
	hyphens:none;
	left:auto;
	letter-spacing:normal;
	line-height:normal;
	list-style:none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:disc;
	margin:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	max-height:none;
	max-width:none;
	min-height:0;
	min-width:0;
	opacity:1;
	orphans:0;
	outline:0;
	outline-color:invert;
	outline-style:none;
	outline-width:medium;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	padding:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	page-break-after:auto;
	page-break-before:auto;
	page-break-inside:auto;
	perspective:none;
	perspective-origin:50% 50%;
	position:static;
	quotes:'\201C' '\201D' '\2018' '\2019';
	right:auto;
	tab-size:8;
	table-layout:auto;
	text-align:inherit;
	text-align-last:auto;
	text-decoration:none;
	text-decoration-color:inherit;
	text-decoration-line:none;
	text-decoration-style:solid;
	text-indent:0;
	text-shadow:none;
	text-transform:none;
	top:auto;
	transform:none;
	transform-style:flat;
	transition:none;
	transition-delay:0s;
	transition-duration:0s;
	transition-property:none;
	transition-timing-function:ease;
	unicode-bidi:normal;
	vertical-align:baseline;
	visibility:visible;
	white-space:normal;
	widows:0;
	width:auto;
	word-spacing:normal;
	z-index:auto
}
.eesc-body {
	border-top:0!important;
	margin-top:0!important;
	margin-right:0!important;
	margin-left:0!important;
	padding-top:28px!important
}
html {
	margin-top:0!important
}
@media (min-width:769px) {
	.eesc-mobile {
		display:none!important
	}
}
@media (max-width:768px) {
	.eesc-desktop {
		display:none!important
	}
}
.eesc-topbar {
	background-color:#355075;
	top:0;
	border-width:0;
	border-radius:0;
	position:absolute;
	right:0;
	left:0;
	z-index:999999;
	height:28px;
	margin:0;
	box-sizing:border-box
}
.eesc-topbar .logos {
	height:28px;
	float:left;
}
.eesc-topbar a, .eesc-topbar span{
	color: white;
	line-height: 28px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 3px;
}
.eesc-topbar a {
    display: inline-block;
	height: 28px;
}

.eesc-topbar div.eesc-icons-placeholder {
	float:right;
}
.eesc-topbar div.eesc-icons-placeholder a{
    margin-right: 5px;
    height: 28px;
}
.eesc-topbar div.eesc-icons-placeholder i.fa{
    color: inherit;
    width: 25px;
    height: 28px;
    padding-top: 6px;
    text-align: center;
}
.eesc-topbar a:hover{
    color: black!important;
    background-color: white;
}
.eesc-topbar a.active{
	color: black;
	background-color: #aaa;
}

.eesc-topbar-links {
        background-color:transparent;
        top:0;
        border-width:0;
        border-radius:0;
        right:0;
        left:300px;
        z-index:9999999;
        height:28px;
	width:132px;
        margin:0;
        box-sizing:border-box
	float: right;
	text-align: right;
}

/* sidebar */
#eesc-sidebar {
	height:100%;
	width:150px;
	border-right:1px solid #eaeaea;
	float:left;
	padding:10px;
	position:absolute;
	top:40px;
	left:-300px;
	z-index:100;
	width:250px;
	min-height:500px;
	overflow:hidden;
	overflow-y:auto;
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
	-webkit-transform:translate3d(-100%,0,0);
	-moz-transform:translate3d(-100%,0,0);
	-o-transform:translate3d(-100%,0,0);
	-ms-transform:translate3d(-100%,0,0);
	transform:translate3d(-100%,0,0);
	background:#fafafa;
	-webkit-box-shadow:1px 3px 20px #888;
	-moz-box-shadow:1px 3px 20px #888;
	box-shadow:1px 3px 20px #888;
	display: block!important;
}
#eesc-sidebar ul {
	padding:0;
	margin:0
}
#eesc-sidebar li {
	list-style:none
}

/****** Busca *******/
.eesc-busca{
	float: right;
}
.eesc-busca .gsc-control-cse, .eesc-busca .gsc-control-wrapper-cse{
	background-color: transparent!important;
	border: 0;
}

.eesc-busca .gsc-control-cse{
	padding: 0!important;
}

.eesc-busca input.gsc-input{
	background-color: white!important;
	background-image: none!important;
	font-size: 13px!important;
        padding: 5px!important;
}

.eesc-busca .gsc-clear-button{
	display: none;
}

.eesc-busca .gsc-search-box{
	padding: 0!important;
	margin: 0!important;
}

.eesc-desktop .gsc-control-searchbox-only, .eesc-desktop .gsc-control-cse{
	width: 160px!important;
}

.eesc-desktop.eesc-busca .gsc-search-button{
	display: none!important;
}

.eesc-desktop.eesc-busca td.gsc-input{
	margin: 0!important;
	padding: 0!important;
}

#___gcse_0{
	float: left;
}

.eesc-busca-mobile{
	display: none;
}
.eesc-busca-mobile.visible{
	display:block;
	background-color: white;
	width: 100%;
	height: 100px;
}

.eesc-busca .gsc-input, .eesc-busca .gsc-search-button{
	border: 0;
}
.eesc-desktop.eesc-busca input.gsc-input, .eesc-desktop.eesc-busca .eesc-busca-botao {
	height: 24px!important;
	margin: 2px!important;
}
.eesc-desktop.eesc-busca .eesc-busca-botao{
	padding: 1px 6px;
}

/* Page animation */

body.visible {
	overflow:hidden
}
body.visible #eesc-sidebar {
	left:0;
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
#fake-body {
	width:100%;
	height:100%;
	margin:0;
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear
}
.visible #fake-body {
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
	-webkit-transform:translate3d(150px,0,-350px);
	-moz-transform:translate3d(150px,0,-350px);
	-o-transform:translate3d(150px,0,-350px);
	-ms-transform:translate3d(150px,0,-350px);
	transform:translate3d(150px,0,-350px);
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	background:#fff;
	position:relative;
	left:0;
	z-index:99;
	overflow:visible
}
.visible #fake-body::after {
	position:absolute;
	top:0;
	right:0;
	background:rgba(0,0,0,.2);
	content:'';
	opacity:0;
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
	z-index:100;
	width:100%;
	height:10000px;
	margin:-10px;
	padding:10px;
	opacity:1;
	box-sizing: content-box
}
